In [3]:
import pandas as pd

PANDAS SERIES

HOW TO CREATE

In [7]:
veges=['beetroot','carrot','tomato','kovakkai','coconut']

In [19]:
veges_series=pd.Series(veges)

How to create with labels

In [22]:
veges_series1=pd.Series(veges,index=['purple','orange','red','green','white'])

In [24]:
veges_series1

purple    beetroot
orange      carrot
red         tomato
green     kovakkai
white      coconut
dtype: object

In [26]:
vege_dict={'red':'tomato','green':'kovakkai'}

In [28]:
vege_dict_series= pd.Series(vege_dict)

In [30]:
vege_dict_series

red        tomato
green    kovakkai
dtype: object

In [9]:
vege_dict_serie=pd.Series(veges)

In [11]:
vege_dict_serie[0]

'beetroot'

How to access

In [33]:
veges_series1['white']

'coconut'

HOW to add

In [36]:
vege_dict_series['orange']='carrot'

In [38]:
vege_dict_series

red         tomato
green     kovakkai
orange      carrot
dtype: object

How to drop a element(delete)

In [49]:
print(vege_dict_series.index)

Index(['red', 'green'], dtype='object')

In [51]:
vege_dict_series['orange'] = 'carrot'

In [57]:
print(vege_dict_series.index)

Index(['red', 'green', 'orange'], dtype='object')

In [55]:
vege_dict_series.drop(['orange'])

red        tomato
green    kovakkai
dtype: object

Above remove only here not in the actual element

In [59]:
print(vege_dict_series.index)

Index(['red', 'green', 'orange'], dtype='object')

In [61]:
vege_dict_series.drop(['orange'],inplace=True)

In [63]:
print(vege_dict_series.index)

Index(['red', 'green'], dtype='object')

But inplace remove also in the actul element

Now we go to Series elements cant be heterogeneous and nested to

In [68]:
veges1dict={'red':['tomato','redchilli'],'green':'kovakkai'}

In [70]:
new_veges_series=pd.Series(veges1dict)

In [72]:
new_veges_series[0]

C:\Users\bhark\AppData\Local\Temp\ipykernel_2504\2527856577.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_veges_series[0]

['tomato', 'redchilli']

In [74]:
type(new_veges_series[0])

C:\Users\bhark\AppData\Local\Temp\ipykernel_2504\3366139601.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(new_veges_series[0])

list

In [76]:
type(new_veges_series[1])

C:\Users\bhark\AppData\Local\Temp\ipykernel_2504\189875207.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(new_veges_series[1])

str

2. PANDAS DATAFRAME

In [81]:
data= {'vegetables':['beetroot','carrot','tomato','kovakkai','coconut'],
       'color':['purple','orange','red','green','white'],
       'unit':['1kg','1kg','1kg','1kg','1piece'],
       'min':[15,25,53,30,'seventeen'],
       'max':[40,45,90,45,38],
      }

In [83]:
koyambedu_market= pd.DataFrame(data)

In [85]:
koyambedu_market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38

In [87]:
koyambedu_market.columns

Index(['vegetables', 'color', 'unit', 'min', 'max'], dtype='object')

In [89]:
koyambedu_market.index

RangeIndex(start=0, stop=5, step=1)

i want to change the index

In [92]:
koyambedu_market1= pd.DataFrame(data, index=['a','b','c','d','e'])

In [94]:
koyambedu_market1.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

How to Access

In [97]:
koyambedu_market1['unit']

a       1kg
b       1kg
c       1kg
d       1kg
e    1piece
Name: unit, dtype: object

In [99]:
  koyambedu_market1.loc['a']

vegetables    beetroot
color           purple
unit               1kg
min                 15
max                 40
Name: a, dtype: object

In [101]:
  koyambedu_market1.loc['a','unit']

'1kg'

In [103]:
  koyambedu_market1.iloc[0:3,0:3]

  vegetables   color unit
a   beetroot  purple  1kg
b     carrot  orange  1kg
c     tomato     red  1kg

In [105]:
  koyambedu_market1.loc['f']={'vegetables':'poosanikai','color':'Yellow','unit':'1piece','min':10,'max':30}

In [107]:
  koyambedu_market1

   vegetables   color    unit        min  max
a    beetroot  purple     1kg         15   40
b      carrot  orange     1kg         25   45
c      tomato     red     1kg         53   90
d    kovakkai   green     1kg         30   45
e     coconut   white  1piece  seventeen   38
f  poosanikai  Yellow  1piece         10   30

Above is a new row

Below is a new col

In [113]:
  koyambedu_market1['average']=[20,35,75,35,25,20]

In [115]:
  koyambedu_market1

   vegetables   color    unit        min  max  average
a    beetroot  purple     1kg         15   40       20
b      carrot  orange     1kg         25   45       35
c      tomato     red     1kg         53   90       75
d    kovakkai   green     1kg         30   45       35
e     coconut   white  1piece  seventeen   38       25
f  poosanikai  Yellow  1piece         10   30       20

If we want to remove the row or column, then we use the drop

In [118]:
  koyambedu_market1.drop(['f'], axis=0)

  vegetables   color    unit        min  max  average
a   beetroot  purple     1kg         15   40       20
b     carrot  orange     1kg         25   45       35
c     tomato     red     1kg         53   90       75
d   kovakkai   green     1kg         30   45       35
e    coconut   white  1piece  seventeen   38       25

In [120]:
koyambedu_market1.drop(['f'], axis=0,inplace=True)

In [122]:
koyambedu_market1

  vegetables   color    unit        min  max  average
a   beetroot  purple     1kg         15   40       20
b     carrot  orange     1kg         25   45       35
c     tomato     red     1kg         53   90       75
d   kovakkai   green     1kg         30   45       35
e    coconut   white  1piece  seventeen   38       25

In [124]:
koyambedu_market1.drop(['average'], axis=1)

  vegetables   color    unit        min  max
a   beetroot  purple     1kg         15   40
b     carrot  orange     1kg         25   45
c     tomato     red     1kg         53   90
d   kovakkai   green     1kg         30   45
e    coconut   white  1piece  seventeen   38

Handling the missing values  - isna, sum,any,fillna,dropna

In [127]:
koyambedu_market1

  vegetables   color    unit        min  max  average
a   beetroot  purple     1kg         15   40       20
b     carrot  orange     1kg         25   45       35
c     tomato     red     1kg         53   90       75
d   kovakkai   green     1kg         30   45       35
e    coconut   white  1piece  seventeen   38       25

In [129]:
koyambedu_market1.isna()

   vegetables  color   unit    min    max  average
a       False  False  False  False  False    False
b       False  False  False  False  False    False
c       False  False  False  False  False    False
d       False  False  False  False  False    False
e       False  False  False  False  False    False

In [131]:
koyambedu_market1.isna().sum()

vegetables    0
color         0
unit          0
min           0
max           0
average       0
dtype: int64

In [137]:
import numpy as np
koyambedu_market1['season']=[True,True,False,False,np.nan]

In [139]:
koyambedu_market1

  vegetables   color    unit        min  max  average season
a   beetroot  purple     1kg         15   40       20   True
b     carrot  orange     1kg         25   45       35   True
c     tomato     red     1kg         53   90       75  False
d   kovakkai   green     1kg         30   45       35  False
e    coconut   white  1piece  seventeen   38       25    NaN

In [141]:
koyambedu_market1.isna().sum()

vegetables    0
color         0
unit          0
min           0
max           0
average       0
season        1
dtype: int64

In [143]:
koyambedu_market1.fillna(False)

C:\Users\bhark\AppData\Local\Temp\ipykernel_2504\3951670091.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  koyambedu_market1.fillna(False)

  vegetables   color    unit        min  max  average  season
a   beetroot  purple     1kg         15   40       20    True
b     carrot  orange     1kg         25   45       35    True
c     tomato     red     1kg         53   90       75   False
d   kovakkai   green     1kg         30   45       35   False
e    coconut   white  1piece  seventeen   38       25   False

In [145]:
koyambedu_market1.fillna(False,inplace=True)

C:\Users\bhark\AppData\Local\Temp\ipykernel_2504\2601385065.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  koyambedu_market1.fillna(False,inplace=True)

In [147]:
koyambedu_market1

  vegetables   color    unit        min  max  average  season
a   beetroot  purple     1kg         15   40       20    True
b     carrot  orange     1kg         25   45       35    True
c     tomato     red     1kg         53   90       75   False
d   kovakkai   green     1kg         30   45       35   False
e    coconut   white  1piece  seventeen   38       25   False

In [149]:
koyambedu_market1['season']=[True,True,False,False,np.nan]

In [151]:
koyambedu_market1.dropna(axis=0)

  vegetables   color unit min  max  average season
a   beetroot  purple  1kg  15   40       20   True
b     carrot  orange  1kg  25   45       35   True
c     tomato     red  1kg  53   90       75  False
d   kovakkai   green  1kg  30   45       35  False

In [155]:
koyambedu_market1['max'].apply(lambda x:x+5)

a    45
b    50
c    95
d    50
e    43
Name: max, dtype: int64

but how to update this in original dataset

In [158]:
koyambedu_market1['max']=koyambedu_market1['max'].apply(lambda x:x+5)

In [160]:
koyambedu_market1

  vegetables   color    unit        min  max  average season
a   beetroot  purple     1kg         15   45       20   True
b     carrot  orange     1kg         25   50       35   True
c     tomato     red     1kg         53   95       75  False
d   kovakkai   green     1kg         30   50       35  False
e    coconut   white  1piece  seventeen   43       25    NaN

In [174]:
koyambedu_market1.loc['e', 'max'] += 5

In [176]:
koyambedu_market1

  vegetables   color    unit        min  max  average season  (coconut, max)
a   beetroot  purple     1kg         15   45       20   True              50
b     carrot  orange     1kg         25   50       35   True              55
c     tomato     red     1kg         53   95       75  False             100
d   kovakkai   green     1kg         30   50       35  False              55
e    coconut   white  1piece  seventeen   48       25    NaN              48

data aggregating and grouping

In [181]:
koyambedu_market1.groupby('unit').sum()

,vegetables,color,min,max,average,season,"(coconut, max)"
unit,,,,,,,
1kg,beetrootcarrottomatokovakkai,purpleorangeredgreen,123,240,165,2,260
1piece,coconut,white,seventeen,48,25,0,48

In [183]:
koyambedu_market1.groupby(['unit','max']).sum()

                vegetables        color        min  average season  \
unit   max
1kg    45         beetroot       purple         15       20   True
       50   carrotkovakkai  orangegreen         55       70      1
       95           tomato          red         53       75  False
1piece 48          coconut        white  seventeen       25      0

            (coconut, max)
unit   max
1kg    45               50
       50              110
       95              100
1piece 48               48

In [185]:
data= {'vegetables':['beetroot','carrot','redchilli','beans','coconut'],
       'color':['purple','orange','red','green','white'],
       'unit':['1kg','1kg','1kg','1kg','1piece'],
       'min':[15,25,53,30,'seventeen'],
       'max':[41,45,90,45,38],
      }

In [187]:
thiruvanmiyur_market= pd.DataFrame(data)

Join DATA FRAMES

In [194]:
koyambedu_market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38

In [192]:
thiruvanmiyur_market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   41
1     carrot  orange     1kg         25   45
2  redchilli     red     1kg         53   90
3      beans   green     1kg         30   45
4    coconut   white  1piece  seventeen   38

In [196]:
pd.concat([koyambedu_market,thiruvanmiyur_market])

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38
0   beetroot  purple     1kg         15   41
1     carrot  orange     1kg         25   45
2  redchilli     red     1kg         53   90
3      beans   green     1kg         30   45
4    coconut   white  1piece  seventeen   38

In [198]:
pd.concat([koyambedu_market,thiruvanmiyur_market],axis=1)

,vegetables,color,unit,min,max,vegetables,color,unit,min,max
0,beetroot,purple,1kg,15,40,beetroot,purple,1kg,15,41
1,carrot,orange,1kg,25,45,carrot,orange,1kg,25,45
2,tomato,red,1kg,53,90,redchilli,red,1kg,53,90
3,kovakkai,green,1kg,30,45,beans,green,1kg,30,45
4,coconut,white,1piece,seventeen,38,coconut,white,1piece,seventeen,38

In [204]:
pd.merge(koyambedu_market,thiruvanmiyur_market,on='vegetables',how='inner')

,vegetables,color_x,unit_x,min_x,max_x,color_y,unit_y,min_y,max_y
0,beetroot,purple,1kg,15,40,purple,1kg,15,41
1,carrot,orange,1kg,25,45,orange,1kg,25,45
2,coconut,white,1piece,seventeen,38,white,1piece,seventeen,38

In [206]:
pd.merge(koyambedu_market,thiruvanmiyur_market,on='vegetables',how='outer')

,vegetables,color_x,unit_x,min_x,max_x,color_y,unit_y,min_y,max_y
0,beans,NaN,NaN,NaN,NaN,green,1kg,30,45.0
1,beetroot,purple,1kg,15,40.0,purple,1kg,15,41.0
2,carrot,orange,1kg,25,45.0,orange,1kg,25,45.0
3,coconut,white,1piece,seventeen,38.0,white,1piece,seventeen,38.0
4,kovakkai,green,1kg,30,45.0,NaN,NaN,NaN,NaN
5,redchilli,NaN,NaN,NaN,NaN,red,1kg,53,90.0
6,tomato,red,1kg,53,90.0,NaN,NaN,NaN,NaN

In [208]:
pd.read_csv("C:\Users\bhark\Downloads\bank.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (766317619.py, line 1)

In [210]:
pd.read_csv(r"C:\Users\bhark\Downloads\bank.csv")

      variance      skew  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]